<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Struts Blank</display-name>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!-- velocity config -->
	<servlet>
		<servlet-name>velocity</servlet-name>
		<servlet-class>org.apache.velocity.tools.view.servlet.VelocityLayoutServlet</servlet-class>
		<init-param>  
	    	<param-name>org.apache.velocity.toolbox</param-name>  
	    	<param-value>/WEB-INF/tools.xml</param-value>  
	  	</init-param>  
	   	<init-param>  
	    	<param-name>org.apache.velocity.properties</param-name>  
	    	<param-value>/WEB-INF/velocity.properties</param-value>  
	  	</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	
	<!-- Action Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>velocity</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

</web-app>
